<div class="container">
    <h1> Assignment Solution</h1>

    <label>Username </label>
    <input 
    type="text"
    class="input-field"
    [(ngModel)] = 'username'
    >
    <p class="output-username">{{username}}</p>

    <button 
    (click)="onClick()"
    [disabled]="!clickable"
    >Submit</button>

</div>


<!-- Max's Solution 

<label>Username </label>
<input 
type="text"
class="input-field"
[(ngModel)] = 'username'
>
<p class="output-username">{{username}}</p>

<button 
(click)="username = ''"
[disabled]="username === ''"
>Submit</button> -->
